node_modules
datasets/*
lib/bundle.*
tools/scrapers/auslan-signbank/*-cache
tools/scrapers/auslan-signbank/definition-links.json
.stignore
.vscode
.stfolder
tools/**/*-cache*
tools/**/*.mp4
tools/spiders/frozen-data/*
feeds/*
logs/*
*.tmp
tools/scrapers/youtube/playlist-keys.json
.dat
/datasets.torrent*
/*.html*
sitemap.xml*
