node_modules
datasets/*
tools/scrapers/auslan-signbank/*-cache
tools/scrapers/auslan-signbank/definition-links.json
.stignore
.vscode
.stfolder
tools/**/*-cache*
tools/**/*.mp4
*.tmp
tools/scrapers/youtube/playlist-keys.json
.dat