/*
opt-in light-mode theme for accessibility sake
changes some page-wide colors, and applies some filters to fix some
of the symbols to look right
*/
:root {
  --base-bg-sat: 43%;
  --base-bg-lum: 90%;
  --base-fg-sat: 20%;
  --base-fg-lum: 22%;
  --filter-fg: saturate(150%) brightness(25%);
  --module-bg-sat: 35%;
  --module-bg-lum: 83%;
  --submodule-bg-sat: 33%;
  --submodule-bg-lum: 75%;
  --outer-shadow-alpha: 40%;
  --outer-highlight-alpha: 100%;
}

img#header {
  filter: saturate(150%);
}

form#search_form::before {
  filter: var(--filter-fg);
}

div#pagination button {
  filter: var(--filter-fg);
}

/* div#pagination button[aria-current] {
  background-color: transparent;
  border: 2px solid hsl(220deg, 31%, 70%);
} */